nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: black;
  font-family: "Montserrat", sans-serif;
}

nav a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 1rem;
  padding: 14px 16px;
}

a {
  text-decoration: none;
  color: seashell;
}

li {
  list-style: none;
  float: right;
}

li a {
  color: #d9cc48;
  text-align: center;
  padding: 14px 16px;
}

li a:hover {
  color: #ede7a9;
  border-radius: 1rem;
}

li {
  display: contents;
}
ul {
  display: contents;
}

li {
  float: right;
}

h1 {
  color: #d9cc48;
  text-align: center;
  font: small-caps bold 1.5rem Berling;
}

.row {
  background-color: #1d1d23;
}

.nav-menu {
  font: small-caps bold 18px/30px Berling;
  letter-spacing: 1px;
  position: relative;
  padding-left: 35px;
  z-index: 10;
}

.nav-icon {
  font-size: 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #d9cc48;
}
.cart-btn {
  position: relative;
  cursor: pointer;
  color: #d9cc48;
}
.cart-items {
  position: absolute;
  top: -8px;
  right: -8px;
  background: var(--primaryColor);
  padding: 0 5px;
  border-radius: 30%;
  color: var(--mainWhite);
}

.nav-borader {
  border: solid #d9cc48;
  border-radius: 1rem;
}

.footer {
  background: #1d1d23;
  padding: 0.1rem 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer-navbar {
  text-align: center;
  margin-top: 0.938rem;
}
.footer-navbar a {
  color: #d9cc48;
  font-size: 1.125rem;
  margin: 1rem;
  padding: 1rem;
  border: 0.3rem;
  text-decoration: none;
}

.copy {
  color: #d9cc48;
}

.footer-borader {
  border: solid #d9cc48;
  border-radius: 1rem;
}

* {
  box-sizing: border-box;
}

/* Style inputs */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #d9cc48;
  color: black;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #ede7a9;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  background-color: #1d1d23;
  color: #d9cc48;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -150%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
}

@media (max-width: 990px) {
  .navbar {
    display: flex;
    flex-direction: column;
    opacity: 90%;
    grid-column: 1 / span 7;
    padding: 1em;
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 6vw;
  }
}

@media (max-width: 450px) {
  .footer-navbar {
    text-align: center;
    margin-top: 0.938rem;
    display: flex;
    flex-direction: column;
  }
}
