@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  color: #555;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/Mustafar.webp");

  height: 80%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

h1 {
  color: #d9cc48;
  text-align: center;
  font: small-caps bold 1.5rem Berling;
}

h2 {
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: black;
  font-family: "Montserrat", sans-serif;
}

nav a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 1rem;
  padding: 14px 16px;
}

a {
  text-decoration: none;
  color: seashell;
}

li {
  list-style: none;
  float: right;
}

li a {
  color: #d9cc48;
  text-align: center;
  padding: 14px 16px;
}

li a:hover {
  color: #ede7a9;
  border-radius: 1rem;
}

li {
  display: contents;
}
ul {
  display: contents;
}

li {
  float: right;
}

.nav-menu {
  font: small-caps bold 18px/30px Berling;
  letter-spacing: 1px;
  position: relative;
  padding-left: 35px;
  z-index: 10;
}

.nav-icon {
  font-size: 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #d9cc48;
}
.cart-btn {
  position: relative;
  cursor: pointer;
  color: #d9cc48;
}

.banner-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  background: #f09d51;
  color: var(--mainBlack);
  border: 1px solid #f09d51;
  transition: all 0.3s linear;
  cursor: pointer;
}
.banner-btn:hover {
  background: transparent;
  color: #f09d51;
}
.cart-items {
  position: absolute;
  top: -8px;
  right: -8px;
  background: #f09d51;
  padding: 0 5px;
  border-radius: 30%;
  color: #fff;
}

.nav-borader {
  border: solid #d9cc48;
  border-radius: 1rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  grid-gap: 50px;
  margin: 50px auto;
  max-width: 1240px;
  padding: 20px;
}
.product {
  padding: 10px;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.2);
}
.product img {
  width: 25vw;
  height: 50vh;
  display: block;
  padding-bottom: 20px;
}
.product .title {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #d9cc48;
}
.product .description {
  padding: 0 20px 20px 20px;
  line-height: 22px;
  color: #ede7a9;
}
.product .price {
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  color: #d9cc48;
  padding-top: 30px;
  font-family: sans-serif;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}
.product .cart {
  text-align: center;
  padding: 15px 0;
  margin-top: 40px;
  font: bold 16px "News Gothic", "Arial Narrow", arial, sans-serif;
  background-color: #d9cc48;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 2px #351f00;
  cursor: pointer;
}
.product .cart i {
  padding-left: 10px;
}
.view-more {
  margin: 0 auto;
  max-width: 1240px;
  padding: 20px;
  text-align: center;
}
.view-more button {
  padding: 10px 25px;
}

.footer {
  background: #1d1d23;
  padding: 0.1rem 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer-navbar {
  text-align: center;
  margin-top: 0.938rem;
}
.footer-navbar a {
  color: #d9cc48;
  font-size: 1.125rem;
  margin: 1rem;
  padding: 1rem;
  border: 0.3rem;
  text-decoration: none;
}

.copy {
  color: #d9cc48;
}

.footer-borader {
  border: solid #d9cc48;
  border-radius: 1rem;
}

.products {
  padding: 4rem 0;
}
.section-title h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}
.products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}
.img-container {
  position: relative;
  overflow: hidden;
}
.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: #f09d51;
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  transition: all 0.3s linear;
  transform: translateX(101%);
  cursor: pointer;
}
.bag-btn:hover {
  color: #fff;
}
.fa-shopping-cart {
  margin-right: 0.5rem;
}
.img-container:hover .bag-btn {
  transform: translateX(0);
}
.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: all 0.3s linear;
}
.img-container:hover .product-img {
  opacity: 0.5;
}

.product h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

.product h4 {
  margin-top: 0.7rem;
  letter-spacing: 0.1rem;
  color: #f09d51;
  text-align: center;
}

.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s linear;
  background: rgb(240, 157, 81, 0.5);
  z-index: 2;
  visibility: hidden;
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: rgb(231, 226, 221);
  padding: 1.5rem;
  transition: all 0.3s linear;
  transform: translateX(100%);
}
.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}

.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.cart-item img {
  width: 75px;
  height: 75px;
}
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}
.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: 0.1rem;
}
.item-amount {
  text-align: center;
}
.remove-item {
  color: grey;
  cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
  color: #f09d51;
  cursor: pointer;
}

.cart-footer {
  margin-top: 2rem;
  letter-spacing: 0.1rem;
  text-align: center;
}
.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -150%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
}

@media (max-width: 990px) {
  .navbar {
    display: flex;
    flex-direction: column;
    opacity: 90%;
    grid-column: 1 / span 7;
    padding: 1em;
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 6vw;
  }
}

@media (max-width: 450px) {
  .footer-navbar {
    text-align: center;
    margin-top: 0.938rem;
    display: flex;
    flex-direction: column;
  }
}
